<!-- <div class="section features-1">
    <div class="container">
      <div class="row text-left justify-content-left">
        <div class="col-lg-8">
          <h4>The LIBERO Team</h4>
          <br>
        </div>
      </div>
      <div class="row text-center justify-content-center" align="middle">
      {% for item in site.data.members.people %}
        <div class="col">
          <a href="{{item.website}}" class="avatar avatar-xl rounded-circle" align="middle">
            <img alt="{{item.name}} portrait" src="{{ item.picture | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">{{item.name}}</small>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> -->


  <div class="section features-1">
    <div class="container">
        <div class="row text-left justify-content-left">
            <div class="col-lg-8">
                <h4>The LIBERO Team</h4>
                <br>
            </div>
        </div>
        <div class="container-flex">
            {% for item in site.data.members.people %}
            <div class="avatar-container">
                <a href="{{item.website}}" class="avatar-circle">
                    <img class="avatar-circle" alt="{{item.name}} portrait" src="{{ item.picture | relative_url }}">
                </a>
                <small class="d-block font-weight-bold mb-4">{{item.name}}</small>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


