#introVideo {
    /* position: absolute; */
    width: 50%;
    height: 50%;
}

.fade-out {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}