.avatar {
	color: $white;
	background-color: $gray-500;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	border-radius: 50%;
	height: 48px;
	width: 48px;
}

.avatar img {
	width: 100%;
	border-radius: 50%;
}

.avatar + .avatar-content {
	display: inline-block;
	margin-left: .75rem;
}
.avatar-lg {
	width: 58px;
	height: 58px;
	font-size: $font-size-sm;
}

.avatar-sm {
	width: 38px;
	height: 38px;
	font-size: $font-size-sm;
}

// Overlapped avatars

.avatar-group {
	.avatar {
		position: relative;
		z-index: 2;
		border: 2px solid $card-bg;

		&:hover {
			z-index: 3;
		}
	}

	.avatar + .avatar {
		margin-left: -1rem;

	}
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.avatar-container {
    margin: 10px; /* Adjust this value as necessary for spacing between avatars */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.avatar-circle {
    width: 100px;  /* Set the width as per your need */
    height: 100px; /* Make sure height and width are the same to maintain circle shape */
    border-radius: 50%; /* Makes it circular */
    object-fit: cover; /* Ensures the image covers the element without stretching */
}

@media (max-width: 768px) {
    .avatar-circle {
        width: 80px;
        height: 80px;
    }
}
